<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

	<jmxConfigurator />
	
	<!-- N.B. the delay is set to avoid having logback stop before the service -->
	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook">
		<delay>5000</delay>
	</shutdownHook>
		
	<appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/Users/metturu.mouli/Documents/log/tmdb-bulk-upload-services/tmdb-bulk-upload-services.log</file>
		<append>true</append>
		<encoder>
			<pattern>%date{ISO8601, UTC} %level [%thread] %logger{10} %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/Users/metturu.mouli/Documents/log/tmdb-bulk-upload-services/tmdb-bulk-upload-services.log-%d{yyyy-MM-dd, UTC}-%i.gz</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>   
    

	<root level="INFO">
		<appender-ref ref="LOG" />
	</root>
	
	<logger name="com.rovicorp.datamill.translation" level="INFO" additivity="false">
		<appender-ref ref="LOG" />
	</logger>

	<logger name="io.undertow" level="INFO" additivity="false">
		<appender-ref ref="LOG" />
	</logger>
 
	<logger name="com.rovicorp" level="INFO" additivity="false">
		<appender-ref ref="LOG" />
	</logger>
 
	<logger name="org.apache.http" level="INFO" additivity="false">
		<appender-ref ref="LOG"/>
	</logger>

	<logger name="org.xnio" level="INFO" additivity="false">
		<appender-ref ref="LOG"/>
	</logger>

	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="LOG"/>
	</logger>

	<!-- N.B. this generates a boatload of logging at DEBUG -->
	<logger name="org.hibernate.SQL" level="INFO" additivity="false">
		<appender-ref ref="LOG"/>
	</logger>

	<!-- N.B. this generates a boatload of logging at TRACE -->
	<logger name="org.hibernate.type" level="INFO" additivity="false">
		<appender-ref ref="LOG"/>
	</logger>

	<logger name="org.hibernate" level="INFO" additivity="false">
		<appender-ref ref="LOG"/>
	</logger>

	<logger name="org.springframework.cache" level="trace" additivity="false">
		<appender-ref ref="LOG"/>
	</logger>

</configuration>
